.dialog {
  height: 200px;
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  background: #ffffff;
  padding: 20px;

  label {
    display: block;
    margin: 10px 0;
  }

  input {
    display: inline;
    width: 100px;
  }

  p {
    display: inline;
    padding: 0 5px;
  }

  button {
    height: 30px;
    width: 200px;
    display: block;
    margin: 30px auto 10px;
  }
}
