html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  background-color: $app-background-color;
}

body {
  @include perspective(500);
}

// Generic app wide styles
.btn {
  display: inline-block;
  word-spacing: normal;
  letter-spacing: normal;
  cursor: pointer;
  padding: 8px 5px;
  height: 24px;
  width: 40px;
  font-size: 0.6rem;
  text-align: center;
  background-color: $button-gray;
  color: $gray5;

  &.disabled {
    background-color: $button-disabled;
    color: $gray4;
    cursor: not-allowed;
  }

  @include media-desktop-only {
    width: 141px;
  }

  span {
    padding-top: 8px;
    display: none;

    @include media-desktop-only {
      display: block;
    }
  }

  i {
    display: inline;

    @include media-desktop-only {
      display: none;
    }
  }
}

label {
  display: block;
  border-bottom: 1px solid $gray4;
  color: $gray5;
  font-size: 0.8rem;
  padding-bottom: 1px;
  margin-bottom: 8px;
}

input,
select {
  width: 100%;
}

h2 {
	display: block;
	margin: 0 0 20px 0;
	padding-bottom: 2px;
	border-bottom: 2px solid $gray4;
}
