.toolbar-region {
  height: $toolbar-height;
  width: 100%;
  background: #999;

  .toolbar {
    padding: 5px 10px;

    .left-toolbar-btns {
      float: left;
    }
    .right-toolbar-btns {
      float: right;
    }

    .btn {
      float: left;
      margin-right: 15px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
