.toolbar-region {
  height: $toolbar-height;
  width: 100%;
  background: $gray4;
  @include user-select(none);

  .toolbar {
    padding: 5px 10px;

    .toolbar-btns {
      display: inline-block;
      width: 33.33%;

      &.left-btns {
        text-align: left;
      }

      &.center-btns {
        text-align: center;
      }

      &.right-btns {
        text-align: right;
      }

      @include media-mobile-only {
        &.left-btns {
          width: 39%;
        }

        &.center-btns {
          width: 39%;
        }

        &.right-btns {
          width: 22%;
        }
      }
    }

    .btn {
      display: inline-block;
      margin-right: 15px;

      &:last-child {
        margin-right: 0px;
      }

      @include media-desktop-only {
        width: 141px;
      }
    }
  }
}
