html, body {
	height: 100%;
	width: 100%;
  overflow: hidden;
  margin: 0;
  background-color: #222;
}

body {
  -webkit-perspective: 500;
  -moz-perspective: 500;
  perspective: 500;
}

#toolbar {
	position: fixed;
	height: 40px;
	width: 768px;
	left: 50%;
	margin-left: -384px;
	top: 50%;
	margin-top: -440px;
}

#toolbar button {
	height: 40px;
	width: 170px;
	text-align: center;
}

#mapGrid {
	border: 2px solid #111;
	height: 768px;
	width: 768px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -384px;
	margin-top: -384px;
	background-color: transparent;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  background-size: 64px 64px;
  background-position: -16px -16px;
  overflow:hidden;
}

.tile {
	background: #fff;
	width: 128px;
	height: 128px;
	cursor: pointer;
}

#mover.animate {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
