/**
 * Desktop will be greater than 1024px ( width > 1024px)
 * Tablet will be between 640px and 1024px ( width > 640px && width <= 1024px)
 * Mobile will be less than or equal to 640px ( width <= 640 )
 */
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  background-color: #222; }

body {
  -webkit-perspective: 500;
  perspective: 500; }

.btn {
  display: inline-block;
  word-spacing: normal;
  letter-spacing: normal;
  cursor: pointer;
  padding: 8px 5px;
  height: 24px;
  width: 40px;
  font-size: 0.6rem;
  text-align: center;
  background-color: #ccc;
  color: #222; }
  .btn.disabled {
    background-color: #aaa;
    color: #999;
    cursor: not-allowed; }
  @media (min-width: 1025px) {
    .btn {
      width: 141px; } }
  .btn span {
    padding-top: 8px;
    display: none; }
    @media (min-width: 1025px) {
      .btn span {
        display: block; } }
  .btn i {
    display: inline; }
    @media (min-width: 1025px) {
      .btn i {
        display: none; } }

label {
  display: block;
  border-bottom: 1px solid #999;
  color: #222;
  font-size: 0.8rem;
  padding-bottom: 1px;
  margin-bottom: 8px; }

input,
select {
  width: 100%; }

h2 {
  display: block;
  margin: 0 0 20px 0;
  padding-bottom: 2px;
  border-bottom: 2px solid #999; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../vendor/material-design-icons/iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../vendor/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format("woff2"), url(../vendor/material-design-icons/iconfont/MaterialIcons-Regular.woff) format("woff"), url(../vendor/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format("truetype"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

html {
  font-size: 16px; }

.toolbar-region {
  height: 50px;
  width: 100%;
  background: #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .toolbar-region .toolbar {
    padding: 5px 10px; }
    .toolbar-region .toolbar .toolbar-btns {
      display: inline-block;
      width: 33.33%; }
      .toolbar-region .toolbar .toolbar-btns.left-btns {
        text-align: left; }
      .toolbar-region .toolbar .toolbar-btns.center-btns {
        text-align: center; }
      .toolbar-region .toolbar .toolbar-btns.right-btns {
        text-align: right; }
      @media (max-width: 500px) {
        .toolbar-region .toolbar .toolbar-btns.left-btns {
          width: 39%; }
        .toolbar-region .toolbar .toolbar-btns.center-btns {
          width: 39%; }
        .toolbar-region .toolbar .toolbar-btns.right-btns {
          width: 22%; } }
    .toolbar-region .toolbar .btn {
      display: inline-block;
      margin-right: 15px; }
      .toolbar-region .toolbar .btn:last-child {
        margin-right: 0px; }

.mapGrid {
  position: relative;
  width: 100%;
  height: calc(100% - 50px);
  background-color: #222; }
  .mapGrid #map-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #000; }
  .mapGrid #map-backdrop {
    height: 100%;
    width: 100%; }
  .mapGrid #grid {
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    overflow: hidden; }
    .mapGrid #grid .grid-line {
      position: absolute;
      top: 0; }
      .mapGrid #grid .grid-line.grid-line-v {
        width: 1px;
        height: 100%;
        border-left: 1px solid #ddd; }
      .mapGrid #grid .grid-line.grid-line-h {
        width: 100%;
        height: 1px;
        border-top: 1px solid #ddd; }
  .mapGrid #tiles {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; }
    .mapGrid #tiles.edit-mode {
      overflow: visible; }
    .mapGrid #tiles .tile {
      background: #fff;
      opacity: 0.9;
      position: absolute;
      cursor: pointer; }
      .mapGrid #tiles .tile.selected {
        opacity: 1.0; }
      .mapGrid #tiles .tile.animated {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }

[draggable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -webkit-user-drag: element;
  -khtml-user-drag: element; }

.tile-picker-window {
  height: calc(100% - 50px);
  width: 200px;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #ccc;
  margin-left: -200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .tile-picker-window.open {
    margin-left: 0; }
  .tile-picker-window .tile-list {
    padding: 20px 10px; }
    .tile-picker-window .tile-list .tile-icon {
      display: block;
      margin: 0 auto 10px; }

.settings {
  height: calc(100% - 50px);
  width: 300px;
  position: absolute;
  top: 50px;
  right: -360px;
  background-color: #ccc;
  padding: 20px 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .settings.open {
    right: 0; }
  .settings .settings-section {
    width: 100%;
    height: 80px; }
  .settings .opacity-text {
    color: #999; }

.dialog {
  height: 200px;
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  background: #ffffff;
  padding: 20px; }
  .dialog label {
    display: block;
    margin: 10px 0; }
  .dialog input {
    display: inline;
    width: 100px; }
  .dialog p {
    display: inline;
    padding: 0 5px; }
  .dialog button {
    height: 30px;
    width: 200px;
    display: block;
    margin: 30px auto 10px; }

.hidden {
  display: none;
  visibility: invisible; }

.full-h-w {
  height: 100%;
  width: 100%; }

/*# sourceMappingURL=main.css.map */