#app-toolbar-region

  #toolbar
    position: fixed
    height: 50px
    width: 100%
    top: 0
    left: 0
    background: #999

    button, select
      height: 40px
      width: 141px
      font-size: 10px
      text-align: center
      float: left
      margin-right: 15px
      &:last-child
        margin-right: 0px

    select
      margin-top: 11px