div#app-toolbar-region.toolbar-region

div#map-section.full-h-w
  div#app-map-region.map-region
  div#app-tile-picker-region
  div#app-status-region

//- div#app-dialog-region
div#app-settings-region
