form#newMapForm
  label(for="size") Enter a map size:
  input(name="sizeWidth" type="text")
  p x
  input(name="sizeHeight" type="text")
  label(for="background") Select a background pattern:
  select(name="background")
    option Grass
    option Stone
    option Wood
    option Dirt
    option Slate
  button#submitDialog Make New Map