div#picture-taker
	video#video-preview(height="400", width="400" autoplay)
	canvas#image-preview.hidden(height="400", width="400")
	button#image-taker Take picture
	label.form-label(for="image-text") Image Caption
	input#image-text(name="image-text")
