div.toolbar
  section.left-toolbar-btns
    div#new-tile.btn
      span Add Tile
      i.material-icons add_circle

    div#clear-tiles.btn
      span Clear Map
      i.material-icons clear

  section.right-toolbar-btns
    div#rotate-counter-clockwise.btn.disabled.js-tile-action
      span Rotate Counter-Clockwise
      i.material-icons rotate_left

    div#rotate-clockwise.btn.disabled.js-tile-action
      span Rotate Clockwise
      i.material-icons rotate_right
