div.toolbar
  section.left-toolbar-btns
    button#new-tile
      span New Tile
      i.material-icons add_circle

    button#clear-tiles
      span Clear Map
      i.material-icons clear

  section.right-toolbar-btns
    button#rotate-counter-clockwise
      span Rotate Counter-Clockwise
      i.material-icons rotate_left

    button#rotate-clockwise
      span Rotate Clockwise
      i.material-icons rotate_right
