section.toolbar-btns.left-btns
  div#new-tile.btn(data-tooltip='Add Tile')
    i.material-icons add_circle

  div#clear-tiles.btn(data-tooltip='Clear Map')
    i.material-icons clear

section.toolbar-btns.center-btns

section.toolbar-btns.right-btns
  div#user-settings.btn(data-tooltip='Settings')
    i.material-icons settings
