div#toolbar
  button#rotate-counter-clockwise Rotate Counter-Clockwise
  button#rotate-clockwise Rotate Clockwise
  select#tileTypePicker
    option stone_tiles_2x2_01
    option stone_tiles_4x4_01
    option stone_altar_4x4_01
    option stone_pit_2x4_01
    option stone_stairs_2x2_01
    option stone_stairs_2x2_02
    option black_pit_2x4_01
  button#new-tile New Tile
  button#clear-tiles Clear Map
