section.toolbar-btns.left-btns
  div#new-tile.btn
    span Add Tile
    i.material-icons add_circle

  div#clear-tiles.btn
    span Clear Map
    i.material-icons clear

section.toolbar-btns.center-btns

section.toolbar-btns.right-btns
  div#user-settings.btn
    span Settings
    i.material-icons settings
